# Python
__pycache__/
*.pyc
*.pyo
venv/
env/
.venv/

# Environment & secrets
.env
*.env.local
config.txt

# Django
db.sqlite3
db.sqlite3-journal
*.log
*.rdb
stream_chunks/
services_logs/
media/

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db
