<!-- footer -->
<footer class="bg-gray-800 py-1">
  <div class="container mx-auto">
    <div class="flex justify-center">
      <div class="text-center">
        <p class="text-white mb-2">Follow us</p>
        <div class="flex justify-center">
          <a href="#" class="text-white hover:text-gray-400 mx-2">
            <i class="bi bi-instagram"></i>
          </a>
          <a href="#" class="text-white hover:text-gray-400 mx-2">
            <i class="bi bi-facebook"></i>
          </a>
          <a href="#" class="text-white hover:text-gray-400 mx-2">
            <i class="bi bi-youtube"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>