{% extends 'base/base.html' %}
{% load crispy_forms_tags %}

{% block content %}


<div class="mt-7 mx-5">
<div class="container-fluid d-flex justify-content-center">
    <div class="card w-75">
        <div class="card-header">
            <h4>Create broadcast and go live</h4>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <!-- Content for first row -->
                    <p>This is the first row inside the card body.</p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <!-- Content for second row -->
                    <p>This is the second row inside the card body.</p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

</div>
{% endblock content %}
    