html {
 height: 100%;
    box-sizing: border-box;
}

body {
    position: relative;
    margin: 0;
    min-height: 100%;
    padding-bottom: 0;
    box-sizing: inherit;
}

main{
    margin: 0 auto;
    padding-top: 20px;
}

.footer {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #f8f9fa; /* Adjust background color as needed */
    padding: 0  0; /* Add padding for better appearance */
    text-align: center; /* Center-align content */
}

.download-btn {
    background-color: #4a4746;
    border-radius: 5px;
}

.card-bg {
        background-color: burlywood;
    }


.img-clickable {
    cursor: pointer;
    }

/* ----------------------- Custom styles for input and select ------------------------------*/

.bg-gradient-dark {
    background: linear-gradient(45deg, #1a1a1a, #2c3e50);
}
.hover-bg-dark:hover {
    background-color: rgba(255, 255, 255, 0.05);
}
.transition {
    transition: all 0.3s ease;
}
