{% extends 'base/base_auth.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center vh-100">

    <div class="card shadow p-3 mb-5 bg-white rounded w-25">
        <div class="card-body">
            <h5 class="card-title text-center">Login</h5>
            <form method="POST" action="" class="needs-validation" novalidate>
                {% csrf_token %}
                {{ form|crispy }}
                <div class="text-center mt-3">
                    <button type="submit" class="btn btn-primary btn-block">Login</button>
                </div>
                <div>
                    <p>Or you don't have an account <a href="{% url 'accounts:register' %}">Register</a> here</p>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
