{% extends 'base/base_auth.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="card shadow p-3 mb-5 bg-white rounded w-25">
        <div class="card-body">
            <h5 class="card-title text-center">Reset Password</h5>
            <form method="POST" action="">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="text-center mt-3">
                    <button type="submit" class="btn btn-primary btn-block">Reset Password</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}