{% extends 'base/base_auth.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container d-flex justify-content-center my-5">
    <div class="card shadow p-3 mb-5 bg-white rounded w-30">
        <div class="card-body">
            <h5 class="card-title text-center">Register</h5>
            <form method="post" action="" class="needs-validation" novalidate>
                {% csrf_token %}
                {{ form | crispy }}
                <div class="text-center mt-3">
                    <button type="submit" class="btn btn-primary btn-block mb-2">Register</button>
                </div>
                <div>
                    <p>Already have an account? <a href="{% url 'login' %}" class="mx-2 text-secondary">Login</a>here</p>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock content %} 
