{% extends 'base/base.html' %}
{% load static %}
{% block content %}

<div class="container d-flex justify-content-center mt-5">
    <div class="wrapper d-flex justify-content-center w-100">
        <div class="card w-100">
            <div class="card-header">
                <div class="h5">Stream Scheduler</div>
            </div>
            <div class="card-body">
                <form action="{% url 'control:stream-scheduler' %}" method="post">
                    {% csrf_token %}
                    
                    <div class="mb-4">
                        <label for="streaming_event" class="block text-gray-700 mb-2">Streaming Event</label>
                        <div class="flex items-center">
                            <select id="streaming_event" name="streaming_event" class="form-select w-full rounded-md shadow-sm select2">
                                {% for streaming_event in streaming_events %}
                                <option value="{{ streaming_event.id }}">{{ streaming_event.short_description}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    
                    <div class="mb-4">
                        <label for="end_points" class="block text-gray-700 mb-2">Endpoints:</label>
                        <div class="flex items-center">
                            <select id="end_points" name="end_points" multiple class="form-select w-full rounded-md shadow-sm select2">
                                {% for endpoint in endpoints %}
                                <option value="{{ endpoint.id }}">{{ endpoint.alias }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="mb-4">
                        <label for="start_time" class="block text-gray-700 mb-2">Schedule For:</label>
                        <input type="datetime-local" id="start_time" name="start_time" class="form-control">
                    </div>

                    <div class="mb-4">
                        <label for="chunk_time" class="block text-gray-700 mb-2">Start From</label>
                        <input type="time" id="chunk_time" name="chunk_time" class="form-control" min="00:00" max="24:00" step="60">
                    </div>

                    <label for="repeat">
                        <input type="checkbox" name="repeat" id="repeat-checkbox">
                        Repeat
                    </label>
                    

                    <button class="btn btn-secondary btn-sm" type="submit">Schedule</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var timeInput = document.getElementById('chunk_time');

        timeInput.addEventListener('change', function () {
            var timeValue = timeInput.value;
            var [hours, minutes] = timeValue.split(':');
            hours = hours.padStart(2, '0');
            minutes = minutes.padStart(2, '0');
            timeInput.value = `${hours}:${minutes}`;
        });
    });
</script>
{% endblock content %}
    